/* the styles for the HTML elements */
html {
    background-color: coral;
}
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 0 2em;
    background-color: whitesmoke;     /* navajowhite */
    border: 0px solid black;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: black;
}
main {
    margin-bottom: 1em;
    float: left;
    width: auto;
}
aside {
    float: left;
    width: 150px;
    height: 400px;
    margin: .5em 0;
}
section {
    float: left;
    width: 500px;
}
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: .5em 0;
}
h1, h2 {
    color: rgb(208, 133, 4);
}
p {
    margin: 1em 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
li {
    padding-bottom: .5em;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
/* label {
    width: 8em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .5em;
    text-align: right;
    float: left;
} */
textarea {
    width: 25em;
}
br {
    clear: both;
}
table {
    border-collapse: collapse;
}
td, th {
    margin: 0;
    padding: .25em;
}
.comment
{
    padding: 10px;
    border: 5px solid  rgb(94, 94, 94);
    margin: 10px;
}
.reply
{
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    color: rebeccapurple;
}

/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    width: 150px;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: .5em;
    width: 330px;
}
#left_column p img {
    text-align: center;
}
#right_column ul {
    list-style-type: disc;
    padding-left: 2em;
    margin-top: .25em;
}


/* styles for the classes */
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.cart_qty  {
    text-align: right;
    width: 3em;
}
.button_form {
    margin: 0;
    padding: 0;
    float: left;
}
.inline {
    display: inline;
    margin-left: .5em;
}
.nofloat {
    float: none;
}

.error {
    color: red;
}

/* styles for the ids */
#category_table form {
    margin: 0;
}
#category_table td {
    margin: 0;
    padding: .15em .5em 0 0;
}
#add_category_form {
    margin: 0;
}
#add_category_form input {
    margin-right: .5em;  
}

#add_admin_user_form label {
    width: 8.5em;
}

#edit_and_delete_buttons {
    margin-bottom: .5em;
}
#edit_and_delete_buttons form {
    display: inline;
}

#image_manager input {
    margin: .25em;
}
.product_image_column {
    height: 10px;
    width: 10px;
    text-align: center;
    opacity: 0.5;
    border-radius: 50%;
}

#add_to_cart_form {
    margin: .25em;
}
#add_to_cart_form input {
    float: none;
}

#cart {
    margin: 0;
    padding: 1em .25em;
    border-collapse: collapse;
    width: 100%;
}
#cart_header th {
    border-bottom: 2px solid black;
}
#cart_footer td {
    border-top: 2px solid black;
    font-weight: bold;
}

#login_form {
    margin-top: .5em;
}
#login_form label {
    text-align: left;
    width: 5em;
    padding-right: 1em;
}
#login_form input[text] {
    background-color: red;
}

#register_form label {
    width: 10em;
}

#edit_account_form label {
    width: 9em;
}
#payment_form label {
    width: 8em;
    padding-right: 1em;
}
#payment_form input[text] {
    width: 5em;
    margin: 0;
    padding-right: 1em;
}

#add_category label {
    text-align: left;
    width: 3em;
}
#add_category input { 
    margin-right: .25em;
}

#formatting_directions h2 {
    padding-top: 1em;
}
#formatting_directions ul {    
    list-style-type: disc;
    margin-top: 0;
    padding-left: 1em;
    padding-bottom: 1em;
}

#copyright {
    margin: 1em 0;	
}

#myimg {
    max-width: 70%;
    height: auto;
    border-radius: 50px;
    position: relative;
}

#myimg:hover {
    opacity: 50%;
}

#textbox {
    color: brown;

}

#complex_easy {
    color: green;
}

#complex_medium {
    color: orange;
}

#complex_hard {
    color: red;
}

#separator {
    height: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
}

#logo {
    color: green;
}

#small-text { 
    margin-inline-start: 300px;
    font-size: 0mm;
}

#delete-button { 
    color: white;
    background-color: red;
    border-radius: 3px;
    border-width: 2px;
    border-color: tomato;
    float: right;
    margin-right: 10px;
}

#delete-button:hover
{
    background-color: rgb(220, 0, 0);
}


#admin-button { 
    color: white;
    background-color: teal;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgb(0, 105, 105);
    float: right;
    margin-right: 10px;
}

#admin-button:hover
{
    background-color:rgb(0, 105, 105);
}


/* hide radio */
[type = radio]
{
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
}
/* image styles */
[type = radio] + img
{
    width: 1.3%;
    height: auto;
    cursor: pointer;
}

/* checked styles */
[type = radio]:checked + img
{
    outline: 3px solid rgb(179, 255, 0);
}

#arrow {
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: right;
}

.title
{
    color: teal;
    font-size: 3em;
    margin: 0.3em;
    margin-left: 0em;
}

.username 
{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: none; /*underline*/
    cursor: pointer;
    font-size: 1.5em;
}

/* Dropdown menu style for what type of comment */
.dropbtn {
    background-color: teal;
    color: coral;
    padding: 11px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  /* is this even worth it and in the game !?!?!? */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(0, 100, 100);}