/* the styles for the HTML elements */
html {
    background-color: coral;
}
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 0 2em;
    background-color: whitesmoke;     /* navajowhite */
    border: 0px solid black;
    z-index: 0;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    z-index: 10;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 80%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

main {
    margin-bottom: 1em;
    float: left;
    width: auto;
}

aside {
    float: left;
    width: 150px;
    height: 400px;
    margin: .5em 0;
}

section {
    float: left;
    width: 500px;
}

footer {
    clear: both;
    border-top: 2px solid black;
}

footer p {
    text-align: right;
    font-size: 80%;
}

h1 {
    font-size: 150%;
    margin: .5em 0 .25em;
}

h2 {
    font-size: 120%;
    margin: .5em 0;
}

h1, h2 {
    color: rgb(208, 133, 4);
}

p {
    margin: 1em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li {
    padding-bottom: .5em;
}

a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
/* label {
    width: 8em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .5em;
    text-align: right;
    float: left;
} */
textarea {
    width: 25em;
}
br {
    clear: both;
}
table {
    border-collapse: collapse;
}
td, th {
    margin: 0;
    padding: .25em;
}
.comment
{
    padding: 10px;
    border: 5px solid  rgb(94, 94, 94);
    margin: 10px;
}
.reply
{
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    color: rebeccapurple;
}

/* styles for the classes */
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.cart_qty  {
    text-align: right;
    width: 3em;
}
.button_form {
    margin: 0;
    padding: 0;
    float: left;
}
.inline {
    display: inline;
    margin-left: .5em;
}
.nofloat {
    float: none;
}

.error {
    color: red;
}

#copyright {
    margin: 1em 0;	
}

#myimg {
    max-width: 70%;
    height: auto;
    border-radius: 50px;
    position: relative;
    z-index: 0;
}

#myimg:hover {
    opacity: 50%;
}

#textbox {
    color: brown;

}

#complex_easy {
    color: green;
}

#complex_medium {
    color: orange;
}

#complex_hard {
    color: red;
}

#separator {
    height: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
}

#logo {
    color: green;
}

#small-text { 
    margin-inline-start: 300px;
    font-size: 0mm;
}

#delete-button { 
    color: white;
    background-color: red;
    border-radius: 3px;
    border-width: 2px;
    border-color: tomato;
    float: right;
    margin-right: 10px;
}

#delete-button:hover
{
    background-color: rgb(220, 0, 0);
}


/* hide radio */
[type = radio]
{
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
}
/* image styles */
[type = radio] + img
{
    width: 1.3%;
    height: auto;
    cursor: pointer;
}

/* checked styles */
[type = radio]:checked + img
{
    outline: 3px solid rgb(179, 255, 0);
}

#arrow {
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: right;
}

.title
{
    color: teal;
    font-size: 3em;
    margin: 0.3em;
    margin-left: 0em;
}

.username 
{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: none; /*underline*/
    cursor: pointer;
    font-size: 1.5em;
}

/* Dropdown menu style for what type of comment */
.dropbtn {
    background-color: teal;
    color: coral;
    padding: 11px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  /* is this even worth it and in the game !?!?!? */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(0, 100, 100);}

  /* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: whitesmoke;
    z-index: 10;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    color: teal;
    margin-top: 40px;
    margin-inline-start: 10px;
    font-family: 'Lucida Sans';
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  .sticky2 {
    position: fixed;
    top: 0;
    width: 80%;
  }

.buttons {
    width: 80%;
    height: 50px;
    margin: auto;
    padding: 10px;
}
.myButton1 {
    margin-top: 60px;
    width: 10%;
    height: 25px;
    float: right;
    margin-inline-start: inherit;
    margin-left: 5px;
}

.myButton2 {
    margin-top: 60px;
    margin-left: 5px;
    width: 10%;
    height: 25px;
    margin-inline-start: inherit;
}

.searchbar {
    margin-inline-start: inherit;
    float: left;
}